<nav class="flex items-center justify-between flex-wrap bg-teal-500 p-6">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <img
      class="fill-current h-8 w-12 mr-2"
      width="75"
      height="54"
      src="/images/dummy-logo.png"
      alt="Logo"
    />
    <span class="font-semibold text-xl tracking-tight text-blueGray-700">
      Online Voting Platform
    </span>
  </div>
  <!--Todo: if user login show menu -->
</nav>
